@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.glow-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 0; 
  justify-content: center;
  height: 100vh; 
}

.glowAnimation {
  animation: pulsate 4s ease-in-out infinite;
  will-change: transform, opacity;
  max-width: 100vw;
  max-height: 100vh;
  aspect-ratio: 1;
}

.content {
  padding-top: 3.5rem;
  position: relative;
  z-index: 1; 
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  min-height: 400px; 
}

.content-container{
  position: relative;
  z-index: 1; 
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  gap: 2rem;
  align-items: center;
}

.component-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.slider-controls-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px;
}

.btn {
  background-color: #4BAF2A;
  color: white;
  font-weight:700;
  border-radius: 1rem;
  font-size: large;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
}

.home-text{
  line-height: 1;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 20px;
  padding: 0px;
  gap: 0px;
}

.home-text h1, .home-text h2 {
  margin: 0 0 10px 0; 
  padding: 0;
}

.calendar{
height: 10rem;
width: 15rem;
}

.OB2-text{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
  padding: 0px;
  gap: 0px;
  margin-top: 20px;
}

.OB2-text h1 {
  margin: 0 0 10px 0; 
  padding: 0;
}

.OB5-text{
  font-size: 1.5rem;
  line-height: 1;
  padding: 0px;
  gap: 0px;
}

.OB5-text h1 {
  margin: 0 0 1px 0; 
  padding: 0;
  font-weight: 400;
}

.OB5-TEXT2 h1{
  margin: 0px ;
  padding: 0px;
font-size: 6rem;
}

.Flight{
  position: relative;
 left: 2rem;
  height: 15rem;
  width: 25rem;
}


.slider-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.slider-indicators {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 8rem; 
  margin-bottom: 0;
}

.slider-btn{
  margin-bottom: 3rem;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #4BAF2A;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@media (max-width: 991px) {
  .background {
    height: 100vh;
  }
}

@media (max-width: 375px) {
  .background {
    height: 100vh;
  }
}
