
.forget-password-text{
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    height: 390px;

}

.forgot-password-container input {
    width: 600px;
    margin: 10px;
    border: none;
    text-align: center;
    height: 45px;
    border-radius: 13px;
    border: none;
    font-size: 14px;
    margin: 0 auto;
    text-align: left; 
    margin: 10px 0; 
}

.pwd-btn{
    margin-top: 1rem;
    background-color: #4BAF2A;
    color: white;
    font-weight:700;
    border-radius: 1rem;
    font-size: large;
    width: 8rem;
    border: none;
    cursor: pointer;
}


.forgot-password-container button:hover {
    background-color: #218838;
}

.logo-forget-password {
    margin-top: 82px;
    text-align: center;

}

@media (max-width: 768px) {
    .forgot-password-container {
        width: 90%;
        margin: auto;
    }

    .forgot-password-container input {
        font-size: 16px;
        width: 300px;
        padding: 12px;
    }

    button {
        font-size: 16px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .forgot-password-container {
        width: 100%;
        padding: 15px;
    }

    .forgot-password-container input {
        font-size: 14px;
        padding: 10px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }
}
