.signup-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
}

.sign-in-text {
    font-size: 1.7rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-btn {
    width: 120px;
    height: 40px;
    border-radius: 13px;
    border: none;
    cursor: pointer;
}

.facebook-btn {
    background-color: #3E5C9A;
}

.social-login img{
    width: 23px;
    height: 23px;
    align-items: center;
}
.google-btn {
    background-color: #db4437;
}

.divider-signup-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;
}

.divider {
    font-size: large;
    text-transform: uppercase;
    position: relative;
}

.small-divider{
    display: none;
    font-size: large;
    text-transform: uppercase;
    margin-top: 1.2rem;
}

.form-control {
    width: 90%;
    height: 1.8rem;
    padding: 10px;
    border-radius: .7rem;
    font-size: .8rem;
    border: none;
}

.form-control::placeholder {
    color: #b3b3b3;
    padding-left: 1rem;
}

.form-group {
    width: 90%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.forget-pwd-btn{
    text-decoration: none;
    color: yellow;
   font-size: 0.8rem; 
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 13px;
    border: none;
}

button {
    width: 210px;
    height: 40px;
    top: 632px;
    left: 607px;
    border-radius: 13px;
    background: #4BAF2A;

}

.submit-btn {
    width: 210px;
    height: 50px;
    background-color: #4BAF2A;
    color: white;
    border-radius: 13px;
    font-family: Inter;
    font-weight: 700;
    font-size: 25px;
    line-height: 38.73px;
    letter-spacing: 0%;
    margin-top: 24px;
}

.submit-btn:hover {
    background-color: #218838;
}

.login-link {
    margin-top: 1rem;
    font-size: .9rem;
}

.login-link a {
    color: yellow;
    font-weight: bold;
    text-decoration: none;
}



.terms {
    font-size: 12px;
    margin-top: 10px;
}

.terms a {
    color: yellow;
    text-decoration: none;
}

@media (max-width: 467px) {
    .divider {
     display: none;
    }
    .small-divider {
        display: block; 
    }
}